# Main
API_NAME="Tweets API"

API_VERSION=0.1.0

MEDIA_DIR=static/images

DEBUG=True

# Media
MAX_MEDIA_SIZE=6291456

# Logging
LOGLEVEL=DEBUG

LOG_FORMAT="%(levelname)s | %(name)s | %(asctime)s | %(lineno)s | <%(message)s>"
LOG_DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"

LOGFILE_NAME=api.log
LOGFILE_SIZE=5242880
LOGFILE_COUNT=10

SENTRY=

# DB
DB_DRIVER=postgresql+asyncpg

DB_NAME=twt_db

DB_HOST=0.0.0.0
DB_PORT=2002
DB_USER=twt
DB_PASS=WBtTMEqtsQyMTTb+GtEd9BHUzaB5qWaDy8vYCLrE

ECHO_SQL=True

FORCE_INIT=True
