# Main
API_NAME="API name"

API_VERSION=0.1.0

MEDIA_DIR=media

DEBUG=False

# Media
MAX_MEDIA_SIZE=6291456

# Logging
LOGLEVEL=WARNING

LOG_FORMAT="%(levelname)s | %(name)s | %(asctime)s | %(lineno)s | <%(message)s>"
LOG_DATETIME_FORMAT="%Y-%m-%d %H:%M:%S"

LOGFILE_NAME=api.log
LOGFILE_SIZE=5242880
LOGFILE_COUNT=10

SENTRY=sentry_url

# DB
DB_DRIVER=postgresql+asyncpg

DB_NAME=db_name

DB_HOST=host
DB_PORT=port
DB_USER=user
DB_PASS=pass

ECHO_SQL=False

FORCE_INIT=False
